<footer class="footer pitch-black text-center py-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-4 mb-md-0">
          <div class="social-icons">
            <h3 class="non-selectable mb-3">Follow Me</h3>
            <div class="d-flex justify-content-center">
              <a href="https://www.instagram.com/__sanket_bothe?igsh=MWIxaHlzMGZmNXZxaw==" target="_blank" class="text-white">
                <img src="/assets/black-instagram-icon.png" alt="Instagram" class="img-fluid social-icon">
              </a>
              <a href="https://www.linkedin.com/in/sanket-bothe-?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="text-white">
                <img src="/assets/linkedin-square-icon.png" alt="LinkedIn" class="img-fluid social-icon">
              </a>
              <a href="https://www.facebook.com/sanket.bothe.1" target="_blank" class="text-white">
                <img src="/assets/facebook-app-round-icon.png" alt="Facebook" class="img-fluid social-icon">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-info">
            <h3 class="non-selectable mb-4">Contact Me</h3>
            <div class="d-flex flex-column align-items-center">
              <a href="tel:+919404053327" class="text-white mb-2">
                <img src="/assets/phone-line-icon.png" alt="Phone" class="img-fluid contact-icon"> +91 94040 53327
              </a>
              <a href="mailto:sanketbothe0116&#64;gmail.com" class="text-white mb-2">
                <img src="/assets/attherate-icon.png" alt="Email" class="img-fluid contact-icon"> sanketbothe0116&#64;gmail.com
              </a>
              <a href="https://wa.me/919404053327?text=Hello%2C%20I%20would%20like%20to%20chat%20with%20you" target="_blank" class="text-white">
                <img src="/assets/whatsapp-icon.png" alt="WhatsApp" class="img-fluid contact-icon"> +91 9404053327
              </a>              
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center non-selectable mt-5">
        <div class="col-md-12">
          <p>&copy; 2024 sanket bothe. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  