<h1 class="text-center mt-5 about-heading non-selectable">About Me</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mt-5">
            <img src="/assets/full-stack-developer-icon.png" alt="ERROR" class="img-fluid">
        </div>
        <div class="col-md-8">
            <div class="about-section non-selectable">
                <p>I'm currently working as a Software Engineer at Hamsa Hitech Pvt. Ltd. in Pune, Maharashtra. I have a
                    strong background in frontend development using Angular, HTML5, CSS, and JavaScript. My experience
                    includes working with Agile methodologies, API development, and deploying applications on cloud
                    platforms like Digital Ocean.</p>
                <p>As a quick learner and team player, I thrive in dynamic environments where I can contribute to
                    end-to-end product development and ensure high-quality deliverables.</p>
                <p>Additionally, I possess a solid understanding of backend technologies, including Node.js, Express,
                    and MongoDB. I have experience building RESTful APIs, integrating various services, and ensuring
                    efficient database management. My comprehensive skill set allows me to handle full-stack development
                    projects effectively, ensuring seamless integration between frontend and backend components.</p>
                <p>Feel free to explore my portfolio to learn more about my projects and skills.</p>

                <a href="/assets/Sanket Bothe Resume.pdf" target="_blank" class="btn btn-primary mt-3">Download
                    Resume</a>
            </div>
        </div>
    </div>
</div>