:host {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.navbar {
  padding: 0.5rem;
  transition: padding 0.3s ease-in-out;
}

.navbarbg {
  background-color: #000000;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ce004f;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
  margin-left: 1rem;
  position: relative;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Playfair Display', serif; */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ce004f;
}

.navbar-dark .navbar-nav .active > .nav-link {
  color: #ce004f;
}

.nav-item:hover::after {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .navbar-collapse {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 1rem;
    z-index: 1000;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-toggler-icon {
    color: #fff;
  }

  .navbar-toggler.active + .navbar-collapse {
    display: block !important;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }

  .nav-link {
    width: 100%;
    padding: 0.5rem;
  }
}

.navbar-brand img {
  width: 70px;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar-collapse.show {
  display: block !important;
  max-height: 500px; 
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.non-selectable {
  user-select: none;
}


.navbar-dark .nav-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ce004f;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar-dark .nav-link:hover::before,
.navbar-dark .nav-link:focus::before {
  visibility: visible;
  width: 100%;
}
