<header>
  <nav class="navbar navbar-expand-lg navbar-dark mt-4 navbarbg">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/assets/logo-no-background.png" width="70px" alt=""></a>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" [ngClass]="{'show': navbarOpen}" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mx-1"><a (click)="scrollToSection('home')" class="nav-link">Home</a></li>
          <li class="nav-item mx-1"><a (click)="scrollToSection('about')" class="nav-link">About</a></li>
          <li class="nav-item mx-1"><a (click)="scrollToSection('services')" class="nav-link">Services</a></li>
          <li class="nav-item mx-1"><a (click)="scrollToSection('skills')" class="nav-link">Skills</a></li>
          <li class="nav-item mx-1"><a (click)="scrollToSection('projects')" class="nav-link">Projects</a></li>
          <li class="nav-item mx-1"><a (click)="scrollToSection('contact')" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>