.non-selectable{
  user-select: none;
}

.skills-section {
  padding: 20px;
  border-radius: 10px;
  background-color: #000000;
}

.skills-section h2 {
  color: #ffffff;
}

.skills-section p {
  font-size: 1.0rem;
  line-height: 1.6;
  font-family: 'Raleway', sans-serif;
}

.btn-primary {
  background-color: #ce004f;
  border-color: #ce004f;
}

.btn-primary:hover {
  background-color: #ad003e; 
  border-color: #ad003e;
  color: #000000;
}

.skills-heading {
  font-family: "Source Sans Pro", sans-serif;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  text-transform: uppercase;
  font-family: 'Signika Negative', sans-serif;
}


.skill-icon {
  position: relative;
  text-align: center;
}

.skill-icon img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.skill-icon:hover img {
  transform: scale(1.1);
}

.skill-name {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.skill-icon:hover .skill-name {
  opacity: 1;
}

.skill-icon:hover .skill-name::after {
  content: attr(alt);
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 0.8rem;
}


@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@media (min-width: 768px) {
  .col-lg-3 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
  }
}

@media (max-width: 767.98px) {
  .col-md-4,
  .col-lg-3 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

html {
  scroll-behavior: smooth;
}