<h1 class="text-center skills-heading non-selectable mt-5">My Skills</h1>

<div class="container non-selectable mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-12 mt-3">
            <div class="row text-center">
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/angular-icon.svg" class="img-fluid" alt="Angular Icon">
                        <div class="skill-name">Angular</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/node-js-icon.svg" class="img-fluid" alt="Node.js Icon">
                        <div class="skill-name">Node.js</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/expressjs.svg" class="img-fluid" alt="Express.js Icon">
                        <div class="skill-name">Express.js</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/bootstrap-5-logo-icon.svg" class="img-fluid" alt="Bootstrap Icon">
                        <div class="skill-name">Bootstrap</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/html-icon.svg" class="img-fluid" alt="HTML Icon">
                        <div class="skill-name">HTML</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/css-icon.svg" class="img-fluid" alt="CSS Icon">
                        <div class="skill-name">CSS</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/javascript-programming-language-icon.svg" class="img-fluid" alt="JavaScript Icon">
                        <div class="skill-name">JavaScript</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/typescript-programming-language-icon.svg" class="img-fluid" alt="TypeScript Icon">
                        <div class="skill-name">TypeScript</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/git-icon.svg" class="img-fluid" alt="Git Icon">
                        <div class="skill-name">Git</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/github-icon.png" class="img-fluid" alt="Git Icon">
                        <div class="skill-name">Github</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/mongodb-icon.svg" class="img-fluid" alt="MongoDB Icon">
                        <div class="skill-name">MongoDB</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/mysql-icon.svg" class="img-fluid" alt="MySQL Icon">
                        <div class="skill-name">MySQL</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/postman-icon.svg" class="img-fluid" alt="Postman Icon">
                        <div class="skill-name">Postman</div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-4 mb-4 skill">
                    <div class="skill-icon">
                        <img src="assets/visual-studio-code-icon.svg" class="img-fluid" alt="VS Code Icon">
                        <div class="skill-name">VS Code</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-8 col-md-12">
            <div class="skills-section non-selectable">
                <p class="skill-description mb-4">I excel in JavaScript and TypeScript, leveraging them to build dynamic frontend components and scalable backend solutions. With over 2 years of experience, I've mastered Angular for creating responsive interfaces and integrated Bootstrap for consistent designs across platforms. My proficiency extends to MySQL and MongoDB for efficient database management, and I've utilized Express with Node.js and Mongoose for robust backend development.</p>
                
                <p class="skill-description mb-4">I rely on Visual Studio Code for streamlined development workflows, customized for enhanced productivity. With 2+ years on Digital Ocean, I've deployed and managed cloud infrastructure, ensuring high availability. Proficient in Git, GitHub, Bitbucket, and GitLab, I've maintained code integrity and facilitated collaborative development. Tools like Postman, Jira, and Confluence optimize API testing, project management, and deployment processes, ensuring reliability and efficiency across projects.</p>
                                        
                <p class="skill-description mb-4">In addition to my technical skills, I have a solid understanding of Agile methodologies and Scrum practices, enabling me to work effectively within cross-functional teams. I am adept at end-to-end product development, from gathering client requirements to delivering high-quality solutions. My experience includes setting up and maintaining infrastructure, ensuring seamless integration of new features, and conducting performance optimization to enhance application speed and responsiveness.</p>
            </div>
        </div>
    </div>
</div>
