<div class="container non-selectable">
  <h1 class="text-center project-heading my-5">Projects</h1>
  <div class="row">
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="project-card">
        <h3 class="project-title">KT-HR CONNECT</h3>
        <p class="project-description">
          "KT-HR CONNECT" revolutionizes HR management with a centralized platform for automating tasks, tracking employee data, managing recruitment, conducting evaluations, and improving communication. 
          <a href="https://www.koktailsoft.com/hrhub/" target="_blank">Visit KT-HR CONNECT</a>
        </p>
        <p class="project-tech">Technologies: Angular, Bootstrap, MySQL, MongoDB, Java </p>
        <ul class="project-responsibilities">
          <li>Designed intuitive web pages using Angular and Bootstrap.</li>
          <li>Ensured responsive design for seamless user experience across devices.</li>
          <li>Deployed updates and resolved frontend issues promptly.</li>
          <li>Participated in Scrum meetings and optimized performance.</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="project-card">
        <h3 class="project-title">LAGNAKARYA</h3>
        <p class="project-description">
          "Lagnakarya Vivahsanstha" facilitates Marathi matrimony connections with features for match searching, customization, and community engagement. 
          <a href="https://www.lagnakarya.com/" target="_blank">Visit LAGNAKARYA</a>
        </p>
        <p class="project-tech">Technologies: Angular, Bootstrap, MongoDB, Ionic, Node.js</p>
        <ul class="project-responsibilities">
          <li>Developed features and led migration to Angular 17.</li>
          <li>Managed deployments and ensured application availability.</li>
          <li>Maintained code quality and scalability best practices.</li>
          <li>Collaborated for effective project delivery and bug resolution.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
