<div class="container non-selectable">
    <h1 class="text-center education-heading non-selectable mt-5">Experience and Education</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="progress-container edu-container ">
                <div class="edu-progress-wrapper">
                    <div class="vertical-progress-edu">
                        <div class="progress-bar" [style.height.%]="educationProgress"></div>
                    </div>
                    <div class="edu-details">
                        <div class="edu-item">
                            <div class="edu-title">Bachelor of Science in Computer Science</div>
                            <div class="edu-date">June 2019 - May 2022</div>
                            <div class="percentage">Percentage: 75.45%</div>
                        </div>
                        <div class="edu-item">
                            <div class="edu-title">Master of Science in Computer Science</div>
                            <div class="edu-date">June 2022 - May 2024</div>
                            <div class="percentage">Percentage: 70.30%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="progress-container exp-container">
                <div class="exp-progress-wrapper">
                    <div class="vertical-progress-exp">
                        <div class="progress-bar" [style.height.%]="experienceProgress"></div>
                    </div>
                    <div class="exp-details">
                        <div class="exp-item">
                            <div class="exp-title">Angular Developer</div>
                            <div class="exp-company">Macinson Software India Private Ltd</div>
                            <div class="exp-date">January 2022 - April 2022</div>
                        </div>
                        <div class="exp-item">
                            <div class="exp-title">Full Stack Developer</div>
                            <div class="exp-company">Koktail Soft Pvt Ltd</div>
                            <div class="exp-date">December 2022 - August 2024</div>
                        </div>
                        <div class="exp-item">
                            <div class="exp-title">Full Stack Developer</div>
                            <div class="exp-company">Hamsa Hitech Pvt Ltd</div>
                            <div class="exp-date">September 2024 - Present</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
