
<div class="home">
<div class="home-container col-md-12 my-5">
  <div class="intro row justify-content-between my-5 align-items-center">
    <div class="col-md-12 text-center">
      <h2 class="greeting non-selectable">Hello I'm </h2><br>
      <h2 class="non-selectable mb-4">Sanket Bothe</h2>
      <h1><span id="typing-effect" class="non-selectable mt-5"></span></h1>
      <a href="https://wa.me/919404053327?text=Hello%2C%20I%20would%20like%20to%20chat%20with%20you" target="_blank" class="btn btn-primary non-selectable text mt-4">Contact Me</a>
      
    </div>
  </div> 
</div>

<div class="container non-selectable">
  <div id="cube" class="cube">
    <div class="face front">
      &lt;div class=&quot;container&quot;&gt;<br>&nbsp;&nbsp;&lt;h1&gt;Welcome to My Site&lt;/h1&gt;<br>&nbsp;&nbsp;&lt;p&gt;This is a sample paragraph.&lt;/p&gt;<br>&lt;/div
    </div>
    <div class="face back">
    <br>&nbsp;&nbsp;background-color: #f0f0f0;<br>&nbsp;&nbsp;margin: 0;<br>&nbsp;&nbsp;padding: 0;<br><br>h1 <br>&nbsp;&nbsp;color: #333;<br>
    </div>
    <div class="face left">
      function fetchData(url: string): Promise&lt;Response&gt; <br>&nbsp;&nbsp;return fetch(url).then(response =&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;if (!response.ok)
    </div>
    <div class="face right">
      const express = require(&#39;express&#39;);<br>const app = express();<br><br>app.get(&#39;/&#39;, (req, res) =&gt; <br>&nbsp;&nbsp;res.send(&#39;Hello World&#39;);<br>);<br><br>app.listen(3000, () =&gt; <br>&nbsp;&nbsp;console.log(&#39;Server is running on port 3000&#39;);<br>)
    </div>
    <div class="face top">
      import mongoose from &#39;mongoose&#39;;<br>const uri = &#39;mongodb://localhost:27017/mydatabase&#39;;<br><br>mongoose.connect(uri, <br>&nbsp;&nbsp;useNewUrlParser: true,<br>&nbsp;&nbsp;useUnifiedTopology: true,<br>);<br><br>mongoose.connection.on(&#39;connected&#39;, () =&gt; <br>&nbsp;&nbsp;console.log(&#39;Connected to MongoDB&#39;);<br>)
    </div>
    <div class="face bottom">
      import mongoose from &#39;mongoose&#39;;<br>const uri = &#39;mongodb://localhost:27017/<br>mydatabase&#39;;
    </div>
  </div>
</div>
</div>